body{
	background-color: #909214;
}
img{
	width: 100%;
	height: 320px;

}
.header{
	text-align: center;
}
.pic{
	width: 80%;
	height:	60%;
}
.pic2{
	width: 80%;
	height: 60%;
}
.pic3{
	width: 80%;
	height: 60%;
}
.wrapper{
	text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
footer{
    width:100%;
    min-height:100px;    
    background-color: #222; /* This color gets inverted color or you can add navbar inverse class in html */
}
